* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: "Crimson Pro", serif;
}

.container {
  max-width: 1000px;
  background-color: #e4f9f5;
  margin: 0 auto;
  padding: 30px;
  cursor: pointer;
  
}

header {
}
.profile-image {
  width: 100px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50px;
  float: left;
}
.profile-image:hover {
  transform: scale(1.2);
  transition: 5s;
}

.header-bio {
  float: left;
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #11999e;
}

h1:hover {
  color: mediumblue;
  transform: scale(1.2);
  transition: 3s;
}
.header-contact {
  float: right;
  padding: 30px;
}

.header-contact a {
  text-decoration: none;
  font-weight: bold;
  color: teal;
  font-size: 17px;
}

.header-contact a:hover {
  color: tomato;
  text-decoration: underline;
  

}

.div-clear {
  clear: both;
}
hr {
  border: 3px solid black;
  width: 100%;
  border-bottom: none;
  margin: 20px auto;
}
/*   personal-section CSS start  */
#personal-section {
}
.content {
  /* padding: 10px; */
}
.left-div {
  width: 25%;
  float: left;
}
.left-div:hover {
  color: mediumblue;
  transform: scale(1.2);
  transition: 3s;
}
.right-div {
  width: 75%;
  float: left;
}

.right-div h3:hover {
  transform: scale(1.2);
  transition: 4s;
}
/*   personal-section CSS end */

.common-hr {
  width: 100%;
  border: 1px solid black;
  border-bottom: none;
  margin: 20px auto;
}
.BAgEd{float: left;
  width:25%;

}
.HSC{float: left;
  width:25%;
}
.SSC{
  float: right;
  width:25%;
}
/* footer start */
.footer-container {
  background-color:black;
  text-align:center;
  padding: 20px;
  margin: 20px;


}
.footer-container a{
  color:white;
  text-decoration:none;
  margin: 20px;
}
.footer-container p{
  color:white;
  margin-top: 20px;
}
.footer-container a:hover{
  color:blue;
  
  
}
.footer-container a:visited{
  color:tomato;
  
  
}
/* footer start */